header {
    height: 100vh;
    padding: 10em 0 0 5em;
    margin: 0;
    box-sizing: border-box;
    position: relative;
}

.header-bg-img {
    object-fit: cover;
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    box-sizing: border-box;
    opacity: 0;
    transition: opacity 1.5s;
}

.header-bg-img-active {
    opacity: 1;
}

header h1 {
    color: var(--color-primary);
    font-size: 2.2rem;
}

header p {
    color: var(--yellowish-black);
    font-size: 1.2rem;
}

header .btn-get-free-quote {
    background-color: var(--color-primary);
    border: none;
    font-size: 1rem;
    color: white;
    border-radius: 5px;
    padding: 0.5em 1em;
    transition: 0.3s;
}

header .btn-get-free-quote:hover {
    background-color: white;
    border: none;
    font-size: 1rem;
    color: var(--yellowish-black);
    cursor: pointer;
}

header a {
    font-size: 1rem;
    color: var(--yellowish-black);
    padding: 0.5em 1em;
    font-weight: bold;
    text-decoration: none;
}

.header-content {
    position: relative;
    width: 25vw;
}

.action-buttons {
    display: flex;
}

@media(max-width: 1280px) {
    header {
        padding: 0;
        height: initial;
    }

    .header-content {
        display: none;
    }

    .header-bg-img {
        height: auto;
    }

    .header-bg-img-active {
        position: static;
    }
}

@media(max-width: 768px) {

    .header-content {
        width: 45vw;
    }

    header h1 {
        font-size: 1.2rem;
    }

    header p {
        font-size: 0.9rem;
    }

    header button {
        font-size: 0.9rem;
    }

    header a {
        font-size: 0.9rem;
    }
}