.small-product-box-link {
    text-decoration: none;
}

.small-product-box-image {
    width: 16vw;
    display: block;
    border: 1px solid var(--yellowish-black);
    border-radius: 5px;
    margin: 1em 0;
    text-align: center;
    overflow: hidden;
    transition: 0.3s;
}

.small-product-box-image:hover {
    transform: translateY(-1rem);
}

.small-product-box-name {
    font-size: 1rem;
    font-weight: bold;
    color: var(--yellowish-black);
}

@media(max-width: 768px) {
    .small-product-box-image {
        width: 70vw;
    }

    .small-product-box-name {
        text-align: center;
    }
}