#reviewsSection {
    padding: 2em 2em;
    background-color: var(--light-grey);
}

.reviews-row {
    display: flex;
    justify-content: space-evenly;
}

.review-box {
    width: 20vw;
    text-align: center;
    padding: 1em 3em;
    font-size: 0.8rem;
    line-height: 2em;
    color: var(--color-primary);
    box-shadow: 0 4px 8px 2px rgba(0, 0, 0, 0.2);
}

.ic-quote {
    font-size: 1.5rem;
}

.reviewer-photo {
    height: 5rem;
    border-radius: 50%;
}

.review-text {
    font-size: 1rem;
}

.reviewer-name {
    font-size: 1.2rem;
    font-weight: 700;
}

@media(max-width: 768px) {
    .reviews-row {
        flex-direction: column;
        align-items: center;
    }

    #reviewsSection {
        padding: 0 1em;
    }

    .review-box {
        width: 80vw;
    }
}