#popular-products-section {
    padding: 2em 2em;
}

.popular-products-area {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 6em;
}

.section-heading {
    margin: 0 0 1.5em 0;
}

@media(max-width: 768px) {
    .popular-products-area {
        flex-direction: column;
        align-items: center;
        padding: 0 1em;
    }
}