.quote-form {
    background-color: var(--color-primary);
    padding: 1rem;
    position: relative;
}

.form-heading {
    font-size: 1rem;
    font-weight: bold;
    color: white;
    text-align: center;
}

.btn-submit {
    border: none;
    background-color: var(--color-secondary);
    color: white;
    padding: 0.5rem 0;
    font-size: 1.2rem;
    cursor: pointer;
    transition: 0.3s;
}

.btn-submit:hover {
    background-color: var(--yellowish-black);
    color: white;
}

#overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.2);
}

#loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 1000;
    transform: translate(-50%, -50%);
}

@keyframes spin {
    0% { transform: translate(-50%, -50%) rotate(0deg); }
    100% { transform: translate(-50%, -50%) rotate(360deg); }
}